* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #123240;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.card-container {
  background-image: url("./assets/Scient.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 240px;
}

li {
  color: black;
}
.scientist-card {
  height: 230px;
}

.scientist-card:hover {
  box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}
